
@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment HostingEnvironment

<!DOCTYPE HTML>
<html>
<head>
    <script type="text/javascript">
        if (self == top) {
            window.location.replace('/home/error/wurl' + '?addlMsg=pls pop up modal from page');
        }

        var ctx = '@Url.Content("~/")';
    </script>

    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    @await Html.PartialAsync("~/Views/Shared/FormPartial.cshtml")
    @RenderSection("header", false)
</head>
<body class="white-bg">
    @RenderBody()
    @RenderSection("footer", false)

    @BundlerHelper.Render(HostingEnvironment.ContentRootPath, Url.Content("~/lib/yisha/3.1/css/yisha.min.css"))
    @BundlerHelper.Render(HostingEnvironment.ContentRootPath, Url.Content("~/lib/yisha/3.1/js/yisha-init.min.js"))
</body>
</html>
